@model cource_work.Models.Entity.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePassport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePassport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeWorkBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeWorkBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployerShift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployerShift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
