@model IEnumerable<Accounting>

<h1>Всі звіти</h1>

<p>
    <a asp-action="Create">Новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Перевезення
            </th>
            <th>
                Зарплати
            </th>
            
            <th>
                ПДВ
            </th>
            
            <th>
                Продажі
            </th>
            <th>
                Поаток Обліку
            </th>
            <th>
                Кінець
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportationAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryAmount)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Pdv)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TicketAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPerion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPerion)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AccId">Деталі</a> |
            </td>
        </tr>
}
    </tbody>
</table>
