@model cource_work.Models.Entity.Driver

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverLicence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverPassport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverPassport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverIdenCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverIdenCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverEmpHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverEmpHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeShanson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeShanson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cc.CcName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DriverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
