@model IEnumerable<cource_work.Models.Entity.RoutePoint>



<h1>Зупинки</h1>

<p>
    <a asp-action="Create">Додати нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Місто
            </th>
            <th>
                Назва зупинки
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RpId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.RpId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.RpId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
