@model Bus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Модель
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusModel)
        </dd>
        <dt class = "col-sm-2">
            Місць
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SitingNumber)
        </dd>
        <dt class = "col-sm-2">
            Клімат контроль
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClimateControl)
        </dd>
        <dt class = "col-sm-2">
            Перевізник
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cc.CcName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusId">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
