@model TicketViewModel


<h1>Квиток</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Місто
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            Маршрут
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RouteName)
        </dd>
        <dt class="col-sm-2">
            Дата відправлення
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class="col-sm-2">
            Дата купівлі
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaimentTime)
        </dd>
        <dt class="col-sm-2">
            Ціна
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class="col-sm-2">
            ПДВ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pdv)
        </dd>
        <dt class="col-sm-2">
            Пасажир
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerName)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">До списку</a>
</div>
