@model IEnumerable<TicketViewModel>


<h1>Квитки</h1>

<p>
    <a asp-action="Create">Продати новий</a>
</p>

<div class="form-group">

    <div class="row">
        <div class="col">
            <form asp-controller="Tickets" asp-action="Search" method="get">
                <input name="ss" placeholder="Стрічка">
                <input type="submit" value="Шукати" class="btn btn-success" />
            </form>
        </div>
        <div class="col">
            <form asp-controller="Tickets" asp-action="Date" method="get">
                <input name="date" , type="date" placeholder="Дата">
                <input type="submit" value="Шукати" class="btn btn-success" />
            </form>
        </div>
        <div class="col col-lg-2 float-right">
            @Html.ActionLink("Всі", "Index", "Tickets", null)
        </div>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Місто
            </th>
            <th>
                Дата відправлення
            </th>
            <th>
                Дата купівлі
            </th>
            <th>
                Ціна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaimentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.TicketId">Деталі</a>
                @using (Html.BeginForm("Delete", "Tickets", FormMethod.Post))
                {
                    <input hidden name="id" , value=@item.TicketId>
                    <input type="submit" value="Видалити" />
                }
            </td>
        </tr>
        }
    </tbody>
</table>
